apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: clusterapi-controllers
  labels:
    api: clusterapi
spec:
  replicas: 1
  template:
    metadata:
      labels:
        api: clusterapi
    spec:
      nodeSelector:
        node-role.kubernetes.io/master: ""
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      - key: CriticalAddonsOnly
        operator: Exists
      - effect: NoExecute
        key: node.alpha.kubernetes.io/notReady
        operator: Exists
      - effect: NoExecute
        key: node.alpha.kubernetes.io/unreachable
        operator: Exists
      containers:
      - name: controller-manager
        image: gcr.io/k8s-cluster-api/controller-manager:0.0.7
        volumeMounts:
          - name: config
            mountPath: /etc/kubernetes
          - name: certs
            mountPath: /etc/ssl/certs
        command:
        - "./controller-manager"
        args:
        - --kubeconfig=/etc/kubernetes/admin.conf
        - --leader-elect
        resources:
          requests:
            cpu: 100m
            memory: 20Mi
          limits:
            cpu: 100m
            memory: 30Mi
      - name: ssh-cluster-controller
        image: quay.io/samsung_cnct/ssh-cluster-controller:prod
        volumeMounts:
          - name: config
            mountPath: /etc/kubernetes
          - name: certs
            mountPath: /etc/ssl/certs
        env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        command:
        - "./cluster-controller"
        args:
        - --kubeconfig=/etc/kubernetes/admin.conf
        - --leader-elect
        resources:
          requests:
            cpu: 200m
            memory: 200Mi
          limits:
            cpu: 400m
            memory: 500Mi
      - name: ssh-machine-controller
        image: quay.io/samsung_cnct/ssh-machine-controller:prod
        volumeMounts:
          - name: config
            mountPath: /etc/kubernetes
          - name: certs
            mountPath: /etc/ssl/certs
        env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        command:
        - "./machine-controller"
        args:
        - --kubeconfig=/etc/kubernetes/admin.conf
        - --leader-elect
        resources:
          requests:
            cpu: 200m
            memory: 200Mi
          limits:
            cpu: 400m
            memory: 500Mi
      volumes:
      - name: config
        hostPath:
          path: /etc/kubernetes
      - name: certs
        hostPath:
          path: /etc/ssl/certs
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: machine-setup
data:
  machine_setup_configs.yaml: |-
    items:
    - machineParams:
        os: ubuntu-16.04
        roles:
        - Etcd
        versions:
          etcd: 3.0.17
        sshConfig:
          username: ubuntu
          host: 192.168.2.183
          port: 22
          publicKeys:
          - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCWmTnZsAcdoX81F1nnK36dnzv30Ue9S9CadH+RtuhavyAZAgq1t6q4iK9QSQ7nLf/l0ZoHIWmBPdmQEVCq31PcWWbqCgU5LlBVU2FSSm5zj8YjRT5tYTlRB2NdVCvox4Dj1g2XkKYHuqLUpcxF13m9n6ChgeEA3xR2Qv+3Zz3U819wvU3kV2BGDCaOF2bJgWpH5BmBfigiNzRYG3pWaUbKbisLGcrkjmGdcRRtNx9OlDzQW7sS4lP3xU59afDOs22su+4JvDNBXoFgyUWJn7qzA3ama2EzFTivspw84JogRM7C9qHRuuZBtElUMTd/Y/nI+uuoJdEqPS7VDjl/DLKpqsd6KowNhlE7ir6eZv2pdEY5quFKaiklbwuyBdH9+jGCvrzRLX29yyTyQ9FyKe7RuPCVtEOlL/uy76R5Zing9ACJqezjyGM4GrJDsQFf/g6sfx5n/j93vNu+B0WL6vagQx0CBF6U+yPkkqK+eBlguYwkiO8P/oqeLpPsINs5oK5mleAS61TiKTh6S4QTI4tgCmIWwfMABkrWNTds/kmGIvKVCtMx8HRcGacD05HCUruhNqCjAut345DSOQD69ar+lcX9o6tGW36oP+lIV13p7b6Ab7DaiDU5knRvEVWwbXm/Age+rJsxGdda8hlRhBHe9WqHdxkxD23WkiEA9V0UuQ== pacific.cluster.cnct.io"
          secretName: etcd-private-key
        metadata:
    - machineParams:
        os: ubuntu-16.04
        roles:
        - Master
        versions:
          kubelet: 1.10.4
        sshConfig:
          username: ubuntu
          host: 192.168.2.121
          port: 22
          publicKeys: 
          - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCWmTnZsAcdoX81F1nnK36dnzv30Ue9S9CadH+RtuhavyAZAgq1t6q4iK9QSQ7nLf/l0ZoHIWmBPdmQEVCq31PcWWbqCgU5LlBVU2FSSm5zj8YjRT5tYTlRB2NdVCvox4Dj1g2XkKYHuqLUpcxF13m9n6ChgeEA3xR2Qv+3Zz3U819wvU3kV2BGDCaOF2bJgWpH5BmBfigiNzRYG3pWaUbKbisLGcrkjmGdcRRtNx9OlDzQW7sS4lP3xU59afDOs22su+4JvDNBXoFgyUWJn7qzA3ama2EzFTivspw84JogRM7C9qHRuuZBtElUMTd/Y/nI+uuoJdEqPS7VDjl/DLKpqsd6KowNhlE7ir6eZv2pdEY5quFKaiklbwuyBdH9+jGCvrzRLX29yyTyQ9FyKe7RuPCVtEOlL/uy76R5Zing9ACJqezjyGM4GrJDsQFf/g6sfx5n/j93vNu+B0WL6vagQx0CBF6U+yPkkqK+eBlguYwkiO8P/oqeLpPsINs5oK5mleAS61TiKTh6S4QTI4tgCmIWwfMABkrWNTds/kmGIvKVCtMx8HRcGacD05HCUruhNqCjAut345DSOQD69ar+lcX9o6tGW36oP+lIV13p7b6Ab7DaiDU5knRvEVWwbXm/Age+rJsxGdda8hlRhBHe9WqHdxkxD23WkiEA9V0UuQ== pacific.cluster.cnct.io"
          secretName: master-private-key
          controlPlane: 1.10.4
        metadata:
    - machineParams:
        os: ubuntu-16.04
        roles:
        - Node
        versions:
          kubelet: 1.10.4
        sshConfig:
          username: ubuntu
          host: 192.168.2.187
          port: 22
          publicKey: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCWmTnZsAcdoX81F1nnK36dnzv30Ue9S9CadH+RtuhavyAZAgq1t6q4iK9QSQ7nLf/l0ZoHIWmBPdmQEVCq31PcWWbqCgU5LlBVU2FSSm5zj8YjRT5tYTlRB2NdVCvox4Dj1g2XkKYHuqLUpcxF13m9n6ChgeEA3xR2Qv+3Zz3U819wvU3kV2BGDCaOF2bJgWpH5BmBfigiNzRYG3pWaUbKbisLGcrkjmGdcRRtNx9OlDzQW7sS4lP3xU59afDOs22su+4JvDNBXoFgyUWJn7qzA3ama2EzFTivspw84JogRM7C9qHRuuZBtElUMTd/Y/nI+uuoJdEqPS7VDjl/DLKpqsd6KowNhlE7ir6eZv2pdEY5quFKaiklbwuyBdH9+jGCvrzRLX29yyTyQ9FyKe7RuPCVtEOlL/uy76R5Zing9ACJqezjyGM4GrJDsQFf/g6sfx5n/j93vNu+B0WL6vagQx0CBF6U+yPkkqK+eBlguYwkiO8P/oqeLpPsINs5oK5mleAS61TiKTh6S4QTI4tgCmIWwfMABkrWNTds/kmGIvKVCtMx8HRcGacD05HCUruhNqCjAut345DSOQD69ar+lcX9o6tGW36oP+lIV13p7b6Ab7DaiDU5knRvEVWwbXm/Age+rJsxGdda8hlRhBHe9WqHdxkxD23WkiEA9V0UuQ== pacific.cluster.cnct.io"
          secretName: node-private-key
          controlPlane: 1.10.4
        metadata:


