
          set -e
          set -x
          (
          ARCH=amd64
          ${FUNCTIONS}

          kubectl --kubeconfig=/etc/kubernetes/admin.conf delete node $(hostname) || true
          if ! teardown; then
            echo >&2 "Teardown unsuccessful."
            exit 1
          fi

          echo "Done..."
          ) 2>&1 | sudo tee -a /var/log/teardown.log
