
          set -e
          set -x
          (
          ARCH=amd64
          ${FUNCTIONS}

          kubectl --kubeconfig=/etc/kubernetes/kubelet.conf delete node $(hostname) || true
          
          if ! teardown; then
            echo >&2 "Teardown unsuccessful."
            exit 1
          fi

          ) 2>&1 | sudo tee /var/log/teardown.log
