
          set -e
          set -x
          (
          ARCH=amd64
          ${FUNCTIONS}

          if ! teardown; then
            echo >&2 "Teardown unsuccessful."
            exit 68
          fi
          ) 2>&1 | sudo tee /var/log/teardown.log
