
          set -e
          set -x
          set -o pipefail
          (
          ${FUNCTIONS}

          if ! yum_upgrade_master; then
            echo >&2 "FATAL: upgrade failed. Quitting."
            exit 1
          fi
          
          echo "Done..."
          exit 0
          ) 2>&1 | tee -a /var/log/upgrade.log