          exec >> /var/log/upgrade.log 2>&1
          set -e
          set -x

          ${FUNCTIONS}

          if ! yum_upgrade_master; then
            echo >&2 "FATAL: upgrade failed. Quitting."
            exit 1
          fi
          
          echo "Done..."
          exit 0
