
          set -e
          set -x
          (
          ARCH=amd64
          ${FUNCTIONS}

          if ! drain; then
            echo >&2 "Unable to drain and/or delete on $(hostname)..."
            exit 69
          fi

          if ! teardown; then
            echo >&2 "Teardown unsuccessful."
            exit 68
          fi
          ) 2>&1 | tee /var/log/teardown.log
