
          set -e
          set -x
          (
          ARCH=amd64
          ${FUNCTIONS}

          if ! yum_upgrade_node; then
            echo >&2 "FATAL: upgrade failed. Quitting."
            exit 80
          fi

          sudo systemctl restart kubelet
          ) 2>&1 | sudo tee /var/log/upgrade.log
