
          set -e
          set -x
          set -o pipefail
          (
          ${FUNCTIONS}

          if ! teardown; then
            echo >&2 "Teardown unsuccessful."
            exit 1
          fi

          echo "Done"
          exit 0
          ) 2>&1 | tee -a /var/log/teardown.log
